<div class="b1">
<div class="topnav">
    <a class="active" href="../error/error.component.html">About</a>
    <a href="../error/error.component.html">Contact</a>
    <a href="../error/error.component.html">Help</a>
    <div class="search-container">
      <form #form="ngForm"(submit)="onSubmit()">
        <input type="text" placeholder="Search.." name="city" [(ngModel)]="cityName"/>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
    <br>
    <div class="container" style="margin-top: 80px;">
        <div class="upper-data">
            <img src="../assets/img/sun_hot.jpg"  *ngIf="14 <= WeatherData.temp_celcius">
            <img src="../assets/img/rainy.jpg" *ngIf="14 >= WeatherData.temp_celcius">
            <div class="weather-data">
                <div class="location">{{ WeatherData.name }}</div>
                <br>
                <div class="temperature">{{ WeatherData.temp_celcius }}°C</div>
            </div>
        </div>
    </div>
</div>